# Environment
.env
.env.*
!.env.example
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Django
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/